<div class="parent">
    <div class="box">
      <div class="box1">
          <div class="box3">
          <p>CERAMIC-STUDIO</p><br>
          <p>A:   500 Terry Francine St.</p>
          <p>San Francisco, CA 94158</p>
          <p>T:   123-456-7890</p>
          <p>E:  infomy-domain.com</p><br>
          <p>MON - FRI:  7am - 10pm</p>
          <p>SATURDAY:   8am - 10pm</p>
          <p>SUNDAY:   8am - 11pm</p><br> <br>
          <p>FAQ / Shipping & Returns /</p>
          <p>Store Policy /</p>
          <p>Payment Methods</p>
          </div >

      </div>
    
    
    <div class="box2">
            <div class="child1">
                <div class="div1">
                    <input class="input1" type="text" placeholder="First Name*">
                    <input class="input2" type="text" placeholder="Last Name*">
                </div>
                <div class="div2"> 
                        <input class="input1" type="email" placeholder="Email*">
                        <input class="input2" type="text" placeholder="Subject*">
                </div>
                <div class="div3">Message</div>
               <textarea class="textarea" name="" id="" cols="30" rows="3"></textarea>
               <div class="div4"><input class="submit" type="submit" placeholder="submit"></div>
            </div>
            <div class="child2">
                <div class="emaili">
                    <label for="">Email*</label><br>
                    <input class="input5" type="email" required>
                </div>
                <div class="checkbox"><br> <br>
                    <input type="checkbox">
                    <label for="">Yes, subscribe me to your newsletter.</label>
                    <button class="submits">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
